streamlit
python-dotenv 
litellm
pytest
openai
google-generativeai 
Pillow
tiktoken
ipykernel
st_pages
langchain
langchain-openai
langchain-google-genai
beautifulsoup4
faiss-cpu
wikipedia
chromadb
altair
PyPDF2
